# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller spec
*.spec

# Virtual environments
.venv/
venv/

# Caches
.pytest_cache/
.mypy_cache/
.cache/

# OS / Editor
.DS_Store
.vscode/


